{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load socialaccount %}
{%block content%}
        <h1>Log In</h1>
            <p style="margin-top:20px">Continue with </p>
                <div class="social-icons" style="margin:5px">
                    <a href="#"class="icon">
                        <i class="uil uil-facebook"></i></a>
                    <a href="{% provider_login_url 'github' %}" class="icon">
                        <i class="uil uil-github" style="color:#181819"></i></a>
                    <a href="{% provider_login_url 'google' %}" class="icon">
                        <i class="uil uil-google"></i></a>
                </div>
                
        {% if not SOCIALACCOUNT_ONLY %}
        {% setvar link %}
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        {% element p %}
            {% blocktranslate %}NewUser?, then please {{ link }}Sign up{{ end_link }} first.{% endblocktranslate %}
        {% endelement %}
        <p>or use your email </p>
        {% if form.errors %}
            <ul class="error">
            {% for field in form %}
            {% for error in field.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form class="login" id="login_form" method="post" action="{%url 'account_login'%}">
            {%csrf_token%}

        <!-- Email or Username Field -->
        <div class="form-field">
            <label for="{{ form.login.id_for_label }}">{{ form.login.label }}</label>
            {{ form.login }}
        </div>

        <!-- Password Field -->
        <div class="form-field">
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}
            {% if form.password.help_text %}
            <div class="help-text">
                {{ form.password.help_text|safe }}
            </div>
        {% endif %}
        </div>

        <!-- Remember Me Field -->
        {% if form.remember %}
            <div class="form-field">
                {{ form.remember }}
                {% if form.remember.errors %}
                    <div class="error">
                        {% for error in form.remember.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <input type="hidden" name="{{redirect_field_name}}" value="{%url 'home' %}"/>
        <button type="submit">{%trans "Login"%} &raquo;</button>
    {% endif %}
{%endblock content%}