venv/
env/
.env
profile_picture/

# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Ignore SQLite database file
*.sqlite3
db.sqlite3


# Ignore other system files or folders
.DS_Store
Thumbs.db
