{% comment %} {%extends 'layouts/e.html'%} {% load static %} {% block content %} {% endcomment %}
{% load static %} 
<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Inbox</title>
    <link rel="stylesheet" href="{% static 'inbox/inbox.css' %}" />
    <link rel="stylesheet" href="{% static '/style.css' %}" />
</head>

<navbar>
    {%include "snippets/header.html"%}
</navbar>

<body>
{% comment %} <div class="middle"> {% endcomment %}
    <div class="container" >
        <aside class="conversation-list">
        {% if my_conversations %}
            {% for convo in my_conversations %}
                {% for participant in convo.participants.all %}
                    {% if participant != request.user %}
                    <div class="conversation-item {% if forloop.first %} active {%endif%}">
                        {% comment %} <a href="{% url 'inbox:inbox' convo.id %}">
                            <div class="profile-photo">
                                <img src={{ participant.profile.avatar}}>
                            </div>
                            <h3><img src={{ participant.profile.avatar}}>}</h3>
                        </a> {% endcomment %}
                        <a href="{% url 'inbox:inbox' convo.id %}">
                            <div class="profile-photo">
                                <img src={{ participant.profile.avatar}}>
                            </div>
                            <div class="handle">
                                <h4>{{ participant.profile.name }}</h4>
                                <p class="text-muted">
                                    @{{participant.username }}
                                </p>
                            </div>
                        </a>
                        {% comment %} <p>Hey, how are you?</p> {% endcomment %}
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>No conversations found.</p>
        {% endif %}
        </aside>
 
        <main class="conversation-view">
            {% if conversation %}
             <header class="conversation-header">
                {% for participant in conversation.participants.all %}
                    {% if participant != request.user %}
                    <a href="{% url 'userprofile' participant.profile.user %}">
                        <div class="profile-photo">
                            <img src={{ participant.profile.avatar}}>
                        </div>
                        <div class="handle">
                            <h4>{{participant.profile.name}} </h4>
                            <p class="text-muted">
                                @{{participant.username }}
                            </p>
                        </div>
                    </a>
                    {% endif %}
                {% endfor %}
            </header> 
            <section class="message-list">
            {%for message in conversation.messages.all reversed%}
                <div class="message {% if message.sender == request.user %}sent{% else %}received{% endif %}">
                    {{message.body}}
                </div>
                {%endfor%}
            </section>
            <footer class="message-input">
                <input type="text" placeholder="Type a message...">
                <button>Send</button>
            </footer>
            {% else %}
                <div class="no-conversation-selected">
                    <p>Select a conversation to start messaging</p>
                </div>
            {% endif %}
        </main>
    </div>
{% comment %} </div> {% endcomment %}
<body>
{% comment %} {%endblock%} {% endcomment %}