{%extends 'layouts/d.html'%}
{% load static %}

{%block content%}

<div class="box" style="width: 450px;">
  <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="logo">
          <h3 style="padding: 20px; font-size: 20px;">Create New Post</h3>
      </div>
      {{ form.picture }} <br>
      <img id="post" src="#" alt="Image Preview" style="display: none; width: 100px; height: 100px;" /> <br>
      {{ form.caption }} <br>
      {{ form.tags }} <br>
      <button class="form-btn" type="submit">Post</button>
  </form>
</div>

<script>
  // This updates the image
  const fileInput = document.querySelector('input[type="file"]');
  fileInput.addEventListener('change', (event) => {
      const file = event.target.files[0];
      const image = document.querySelector('#post');
      if (file && file.type.includes('image')) {
          const url = URL.createObjectURL(file);
          image.src = url;
          image.style.display = 'block'; 
      }
  });
</script>


  {%endblock content%}

