{%extends 'layouts/d.html'%}
{%load static%}
    {%block content%} 
    {%include 'snippets/post-overview.html' %}

<div style="width: 450px; margin-left:250px; margin-top:100px">
    <div style="margin-left:100px">
        <h1>Report Post</h1>
        {% comment %} <p>Why are you reporting this post?</p> {% endcomment %}
    </div>

    <form method='POST' style="height:40%">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="form-btn">Submit</button>
        <a class="form-btn" href="{{ request.META.HTTP_REFERER }}">Go Back</a>
    </form>
</div>


    {% endblock content %}