{%extends 'layouts/a.html'%}
{%load static%}
    {%block content%} 
            {% comment %} *****************Middle************************* {% endcomment %}
            <div class="middle">
                <div class="feeds">
                    {%include 'post/post.html' %}        
                </div>
            </div>
            <!--==================END OF MIDDLE========================-->
        <!--*****************Middle*************************-->
        <div class="right">
            <div class="messages">
                <div class="heading">
                    <h4>Comments</h4> 
                </div>

                <div class="card !pb-0 -mt-3">
                    <form method="POST" action="{%url 'comment-sent' post.id %}" >
                        <div class="search-bar">
                            {% csrf_token %}
                            {% comment %} <input type="search" placeholder="Add comment" id="message-search" > {% endcomment %}
                            {{ commentform }}
                        </div>
                        <button @click="open = false" class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
               <!--- --------------Comment Category---------------------->
                <div class="category">
                    <h6 class="active">Newest First</h6>
                    <h6 >Top Comment</h6>
                </div>

                <!----------------Comment -------------------------->
                {% for comment in post.comments.all %}
                {% include 'comment/comment.html' %}
                {% endfor %}
            </div>
            <!--------------------End of Messages-------------->
            <!--===========================END OF RIGHT====================-->
            <!--=======================================THEME CUSTOMIZATION========================--> 
            {%include 'snippets/customize-theme.html' %}
        </div>  
        
    {% endblock content %}