{%extends 'base.html'%}
{%load static%}
    {%block content%}
            <!--*****************Middle*************************-->
            <div class="middle">
                <!-------------------------FEEDS------------------------->
                <div class="feeds">
                    <!-------------------------FEED1------------------------->
                    
                    <div class="feed">
                        <div class="head">
                            <div class="user">
                                <div class="profile-photo">
                                    <!-- <img src="{% static 'images/profile-13.jpg'%}"> -->
                                </div>
                                <div class="ingo">
                                    <h3>{{post.user.username}}</h3>
                                    <small>{{post.posted|date:"d M Y"}}</small>
                                </div>
                            </div>
                            <span class="edit">
                                <i class="uil uil-ellipsis-h"></i>
                            </span>
                        </div>
                        <div class="photo">
                            <a href="{%url 'post-details' post.id%}"><img src="{{post.picture.url}}" alt="Alternative text"  style="width: 500px; height: 381px; object-fit: cover;" >
                        </a>
                        </div>
                        <div class="action-buttons">
                            <div class="interaction-buttons">  
                            <a href="#" class="like-button" data-url="{% url 'like' post.id %}" data-post-id="{{ post.id }}">
                                <span>
                                    <i class="uil uil-heart{% if user in post.post_likes.all %} liked{% endif %}"></i>
                                </span>
                            </a>
                            
                                <span><i class="uil uil-comment-dots"></i></span>
                                <span><i class="uil uil-share-alt"></i></span>
                            </div>
                            <div class="bookmark">
                                <a href= "#" class="bookmark-button" bookmark-url="{% url 'favourite' post.id %}" bookmark-id="{{ post.id }}">
                                    <span>
                                        <i class="uil uil-bookmark{% if post in user.profile.favourite.all %} saved{% endif %}"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="liked-by">
                            <!-- <span><img src="{% static 'images/profile-10.jpg'%}"></span>
                            <span><img src="{% static 'images/profile-11.jpg'%}"></span>
                            <span><img src="{% static 'images/profile-12.jpg'%}"></span> -->
                            <!-- <p>Liked by <b>Gin </b> and <b>2,332 others</b> -->
                            <p id="like-count-{{ post.id }}"><b>{{ post.likes }}</b> Likes</p>
                        </div>
                        <div class="caption">
                            <p><b>{{post.user.username}}</b> {{post.caption}}
                                 <span class="harsh-tag">{% for tag in post.tag.all%}<a href ="{{tag.get_absolute_url}}">#{{tag}}</a>{% endfor %}</span></p>
                        </div>
                        <div>
                            <div class="comments text-muted">View all 269 commments</div>
                        </div>
                    </div>
                                    
                    <!----------------End of FEED----------->
                </div>
                <!----------------End of FEEDS----------->
            </div>
            <!--==================END OF MIDDLE========================-->
            {% endblock content %}
