{%load static%}
    <div class="feed">
        <div class="head">
            <div class="user">
                <div class="profile-photo">
                    <a href = "{% url 'userprofile' post.user.profile.user %}">
                     <img src="{{post.user.profile.image.url}}"/>
                </div>
                <div class="ingo">
                    <h3>{{post.user.profile.name}}</h3>
                </a>
                    <small>{{post.posted|date:"d M Y"}}</small>
                </div>
            </div>
            <span class="edit">
                <i class="uil uil-ellipsis-h"></i>
            </span>
        </div>
        <div class="photo">
            <a href="{%url 'post-details' post.id%}">
                <img src="{{post.picture.url}}" alt="Alternative text"  style="width: 500px; height: 381px; object-fit: cover;" >
            </a>
        </div>

        
        
<div class="action-buttons">
    <div class="interaction-buttons" >
     
      {%include 'snippets/post_like.html' %}

      <a href="#">
        <span><i class="uil uil-comment-dots"></i></span>
      </a>

      <span><i class="uil uil-share-alt"></i></span>

    </div>
    <div class="bookmark">
      <a
        href="#"
        class="bookmark-button"
        bookmark-url="{% url 'favourite' post.id %}"
        bookmark-id="{{ post.id }}"
      >
        <span>
          <i
            class="uil uil-bookmark{% if post in user.profile.favourite.all %} saved{% endif %}"
          ></i>
        </span>
      </a>
    </div>
  </div>
  
  {% comment %} <div class="liked-by" id="like-section-{{ post.id }}">
    <!-- <span><img src="{% static 'images/profile-10.jpg'%}"></span>
      <span><img src="{% static 'images/profile-11.jpg'%}"></span>
      <span><img src="{% static 'images/profile-12.jpg'%}"></span> -->
     {% comment %} <p>Liked by <b>Gin </b> and <b>2,332 others</b>  {% endcomment %}
     {% comment %} {% if post.likes.count > 1 %}
        <p><b>{{ post.likes.count }}</b> Likes</p>
    {% else %}
        <p><b>{{ post.likes.count }}</b> Like</p>
    {% endif %} 
</div> {% endcomment %} 
<div id="like-section-{{ post.id }}">
  {% include 'snippets/like_count.html' %}
</div>

        
        <div class="caption">
            <p><b>@{{post.user.username}}</b> {{post.caption}}
                 <span class="harsh-tag">{% for tag in post.tag.all%}<a href ="{{tag.get_absolute_url}}">#{{tag}}</a>{% endfor %}</span></p>
        </div>
        <div>
            {% if post.comments.count <= 1 %}
             <div class="comments text-muted"> {{post.comments.count}} Comment</div>
            {%elif post.comments.count > 1%}
            <div class="comments text-muted"> {{post.comments.count}} Comments</div>
             {%endif%}
        </div>
    </div> 