{%extends 'base.html'%}
{%load static%}
    {%block content%}
<div class="middle">
    <header>
        <div>
         <h1 style="font-size: 50px; text-align:center; font-weight: bold; ">
            #{{tag.title|title}}</h1>
        </div>
    </header> 
    <!-------------------------FEEDS------------------------->
    <div class="feeds">
        <!-------------------------FEED1------------------------->
        {% for post in posts %}
        <div class="feed">
            <div class="head">
                <div class="user">
                    <div class="profile-photo">
                        <!-- <img src="{% static 'images/profile-13.jpg'%}"> -->
                    </div>
                    <div class="ingo">
                        <h3>{{post.user.username}}</h3>
                        <small>{{post.posted|date:"d M Y"}}</small>
                    </div>
                </div>
                <span class="edit">
                    <i class="uil uil-ellipsis-h"></i>
                </span>
            </div>
            <div class="photo">
                <a href="{{post.get_absolute_url}}"><img src="{{post.picture.url}}" style="width: 500px; height: 381px; object-fit: cover;" >
            </a>
            </div>
            <div class="action-buttons">
                <div class="interaction-buttons">
                      {% comment %} <a href = "{% url 'like' post.id %}">
                      <span><i class="uil uil-heart"></i></span>
                    </a>  {% endcomment %} 
                    <a href="#" class="like-button" data-url="{% url 'like' post.id %}" data-post-id="{{ post.id }}">
                        <span>
                            <i class="uil uil-heart{% if user in post.post_likes.all %} liked{% endif %}"></i>
                        </span>
                    </a>
                    <span><i class="uil uil-comment-dots"></i></span>
                    <span><i class="uil uil-share-alt"></i></span>
                </div>
                <div class="bookmark">
                    <span><i class="uil uil-bookmark"></i></span>
                </div>
            </div>
            <div class="liked-by">
                <!-- <span><img src="{% static 'images/profile-10.jpg'%}"></span>
                <span><img src="{% static 'images/profile-11.jpg'%}"></span>
                <span><img src="{% static 'images/profile-12.jpg'%}"></span> -->
                <!-- <p>Liked by <b>Gin </b> and <b>2,332 others</b> -->
                <p><b>{{post.likes}}</b> Likes
            </div>
            <div class="caption">
                <p><b>{{post.user.username}}</b> {{post.caption}}
                     <span class="harsh-tag">{% for tag in post.tag.all%}<a href ="{{tag.get_absolute_url}}">#{{tag.title}}</a>{% endfor %}</span></p>
            </div>
            <div>
                <div class="comments text-muted">View all 269 commments</div>
            </div>
        </div>
        {% endfor %}                  
        <!----------------End of FEED----------->
    </div>
    <!----------------End of FEEDS----------->
</div>  
{% endblock content %}
