{%extends 'base.html'%}
{%load static%}
    {%block content%}
<div class="middle">
    <header>
        <div>
         <h1 style="font-size: 50px; text-align:center; font-weight: bold; ">
            #{{tag.title|title}}</h1>
        </div>
    </header> 
    <!-------------------------FEEDS-------------------------->
    <div class="feeds">
        {% for post in posts %}
            {%include 'post/post.html' %}
        {% endfor %}                  
    </div>
    <!----------------End of FEEDS------------>
</div>  
{% endblock content %}
