{%load static%}
<div class="sidebar">
    <a  class="menu-item active"  href = "{% url 'home' %}">
        <span><i class="uil uil-home"></i></span><h3>Home</h3>
    </a>
    <a  class="menu-item" href = "{% url 'search' %}">
        <span><i class="uil uil-search"></i></span><h3>Search</h3>
    </a>
    <a  class="menu-item" href="{% url 'inbox:world_chat' %}">
        <span><i class="uil uil-compass"></i></span><h3>Explore</h3>
    </a>
    <a  class="menu-item" id="notifications">
        <span><i class="uil uil-bell"><small class="notification-count">9+</small></i></span><h3>Notifications</h3>
        <!---Notification Popup-->
        <div class="notification-popup">
            <div>
                {%for notification in request.user.notifications.unread%}
                {% comment %} <a href="{{ notification.action_object.get_absolute_url }}"> {% endcomment %}
                    <div class="profile-photo">
                        <img src="{{notification.actor.profile.avatar}}" >
                    </div> 
                    <div class="notification-body">
                            <b>@{{ notification.actor.profile.user.username }}</b> {{ notification.verb }}
                            <small class="text-muted">{{ notification.timestamp|timesince }} ago</small>
                    </div>
                {% comment %} </a> {% endcomment %}
                {%empty%}
                <p>No new notifications</p>
                {%endfor%}
            </div>
        </div>
    </a>
    <a  class="menu-item " id="messages-notification" href="{% url 'inbox:inbox' %}">
        <span><i class="uil uil-envelope"><small class="notification-count">6</small></i></span><h3>Messages</h3>
    </a>
    <a  class="menu-item " href="{% url 'profilefavourite'  %}">
        <span><i class="uil uil-bookmark"></i></span><h3>Bookmarks</h3>
    </a>
    <a  class="menu-item " id="theme">
        <span><i class="uil uil-palette"></i></span><h3>Theme</h3>
    </a>
    <a  class="menu-item " href="{% url 'settings' %}">
        <span><i class="uil uil-setting"></i></span><h3>Settings</h3>
    </a>
</div>