{%load static%}
<div class="stories">
    <div class="story">
        <div class="profile-photo">
            <img src="{% static '/images/profile-8.jpg'%}" >
        </div>
        <p class="name">Your Story</p>
    </div>
    <div class="story">
        <div class="profile-photo">
            <img src="{% static '/images/profile-12.jpg'%}" >
        </div>
        <p class="name">Jane Doe</p>
    </div>
    <div class="story">
        <div class="profile-photo">
            <img src="{% static '/images/profile-9.jpg'%}" >
        </div>
        <p class="name">Jack Wills</p>
    </div>
    <div class="story">
        <div class="profile-photo">
            <img src="{% static '/images/profile-15.jpg'%}" >
        </div>
        <p class="name">Brook Stone</p>
    </div>
    <div class="story">
        <div class="profile-photo">
            <img src="{% static '/images/profile-10.jpg'%}" >
        </div>
        <p class="name">Tina Bale</p>
    </div>
    <div class="story">
        <div class="profile-photo">
            <img src="{% static '/images/profile-11.jpg'%}" >
        </div>
        <p class="name">Smith Mark</p>
    </div>
</div>