{%extends 'layouts/a.html'%}
{% load static %}
        {% block content %}
            <!--*****************Middle*************************-->
            <div class="middle">
                <!-------------------Stories---------------->
                 {%include 'snippets/stories.html'%}
                <!------------------End of Stories---------------------->
                <form class="create-post">
                    <div class="profile-photo">
                        <img src="{{request.user.profile.avatar}}" >
                    </div>
                    <input type="text" placeholder="What's on your mind {{request.user.profile.user.username }}?" id="create-post">
                    <input type="submit" value="Post" class="btn btn-primary">
                </form>

                <!-------------------------FEEDS-------------------------->
                <div class="feeds">
                    {% for post in post_items %}
                        {%include 'post/post.html' %}
                    {% endfor %}                  
                </div>
                <!----------------End of FEEDS------------>
            </div>
            <!--==================END OF MIDDLE========================-->

            <!--*****************Right*************************-->
            <div class="right">
                <div class="messages">
                    <div class="heading">
                        <h4>Messages</h4> <i class="uil uil-edit"></i>
                    </div>
                    <!------------------Search bar------------------>
                    <div class="search-bar">
                        <i class="uil uil-search"></i>
                        <input type="search" placeholder="Search messages" id="message-search">
                    </div>
                    <!----------------Message Category-------------------->
                    <div class="category">
                        <h6 class="active">Primary</h6>
                        <h6 >General</h6>
                        <h6 class="message-requests">Requests(7)</h6>
                    </div>
                    <!----------------Message1 -------------------------->
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{% static 'images/profile-17.jpg'%}">
                        </div>
                        <div class="message-body">
                            <h5>Edem Quist</h5>
                            <p class="text-muted">Just woke up bruh</p>
                        </div>
                    </div>
                    <!----------------Message2 -------------------------->
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{% static 'images/profile-7.jpg'%}">
                        </div>
                        <div class="message-body">
                            <h5>Juliet Makarey</h5>
                            <p class="text-muted">lol u right</p>
                        </div>
                    </div>
                    <!----------------Message3 -------------------------->
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{% static 'images/profile-1.jpg'%}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Chantel Msiza</h5>
                            <p class="text-bold">Birthday Tomorrow!</p>
                        </div>
                    </div>
                    <!----------------Message4 -------------------------->
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{% static 'images/profile-6.jpg'%}">
                            <div class="active"></div>
                        </div>
                        <div class="message-body">
                            <h5>Daniella Jackson</h5>
                            <p class="text-bold">2 new messages</p>
                        </div>
                    </div>
                    <!----------------Message5 -------------------------->
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{% static 'images/profile-5.jpg'%}">
                        </div>
                        <div class="message-body">
                            <h5>Ben Parker</h5>
                            <p class="text-muted">Up for  the movie</p>
                        </div>
                    </div>
                    <!----------------Message6 -------------------------->
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{% static 'images/profile-3.jpg'%}">
                        </div>
                        <div class="message-body">
                            <h5>Jack Jason</h5>
                            <p class="text-muted">Hii</p>
                        </div>
                    </div>
                    <!----------------Message7 -------------------------->
                    <div class="message">
                        <div class="profile-photo">
                            <img src="{% static 'images/profile-2.jpg'%}">
                        </div>
                        <div class="message-body">
                            <h5>Benny Mark</h5>
                            <p class="text-muted">Nothing</p>
                        </div>
                    </div>
                </div>
                <!-------------------End of Messages------------->

                <!----------------FRIEND REQUESTS------------------>
                <div class="friend-requests">
                    <h4>Requests</h4>
                    <div class="request">
                        <div class="info">
                            <div class="profile-photo">
                                <img src="{% static 'images/profile-13.jpg'%}">
                            </div>
                            <div>
                                <h5>Lina Rose</h5>
                                <p class="text-muted">
                                    8 mutual friends
                                </p>
                            </div>
                        </div>
                        <div class="action">
                            <button class="btn btn-primary">
                                Accept
                            </button>
                            <button class="btn">
                                Decline
                            </button>
                        </div>
                    </div>
                    <div class="request">
                        <div class="info">
                            <div class="profile-photo">
                                <img src="{% static 'images/profile-15.jpg'%}">
                            </div>
                            <div>
                                <h5>Marry Jane</h5>
                                <p class="text-muted">
                                    2 mutual friends
                                </p>
                            </div>
                        </div>
                        <div class="action">
                            <button class="btn btn-primary">
                                Accept
                            </button>
                            <button class="btn">
                                Decline
                            </button>
                        </div>
                    </div>
                    <div class="request">
                        <div class="info">
                            <div class="profile-photo">
                                <img src="{% static 'images/profile-14.jpg'%}">
                            </div>
                            <div>
                                <h5>James Bond</h5>
                                <p class="text-muted">
                                    3 mutual friends
                                </p>
                            </div>
                        </div>
                        <div class="action">
                            <button class="btn btn-primary">
                                Accept
                            </button>
                            <button class="btn">
                                Decline
                            </button>
                        </div>
                    </div>
                </div>
            </div>   
            <!--===========================END OF RIGHT====================-->
            <!--=======================================THEME CUSTOMIZATION========================--> 
            {%include 'snippets/customize-theme.html' %}
{% endblock content %}